<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Favicon here-->
    <!--En Firefox aparece el favicon animado-->
    <link rel="icon" href="../images/animatedA.gif" type="image/gif">
    <title>Skills | Antonio Cortés</title>
    <!--Styles-->
    <link rel="stylesheet" href="../styles/portfolio.css">
    <link rel="stylesheet" href="../styles/home.css">
</head>

<body>

    <!--Topbar-->
    <nav class="topbar_root">
        <!--Linkedin Logo-->
        <div class="icons">
            <a href="https://www.linkedin.com/in/antonio-cort%C3%A9s-jim%C3%A9nez/">
                <img src="../images/linkedin.png" alt="logoLinkAlt" style="width: 50px; height: 50px;"></a>
            <a href="https://github.com/le4nnt0nn">
                <img src="../images/github.png" alt="logoGitAlt" style="width: 50px; height: 50px;"></a>
        </div>
        <!--Nav items-->
        <div class="items">
            <div class="topbar_item"> <a href="../index.html">Home</a></div>
            <div class="topbar_item"> <a href="about.html">About</a></div>
            <div class="topbar_item"> <a href="skills.html">Skills</a></div>
            <div class="topbar_item"> <a href="portfolio.html">Portfolio</a></div>
        </div>
    </nav>
    
    <!--Projects-->
    <div class="projects_content">
        <div class="project_card">
            <ul id="balls-group">
                <li id="ball1" class="ball-touch"></li>
                <li id="ball2" class="ball-touch"></li>
                <li id="ball3" class="ball-touch"></li>
            </ul>
            <div class="project_card_content">
                <img src="../images/petInventoryImage.png" alt="petInventoryAlt">
                <h3>Pet Inventory Project <span>#Java #SQL</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet risus porta, fermentum dui et, mollis erat. In id eros in turpis suscipit interdum. Mauris finibus mollis tellus, vel sodales neque placerat in. Maecenas accumsan eros eu tortor elementum ultrices. Ut euismod sagittis nibh quis pulvinar. Praesent ullamcorper pulvinar dignissim. Quisque ac mattis orci. Fusce placerat quam orci, a aliquam justo rhoncus vel. Vivamus ligula lacus, eleifend non sem at, blandit rutrum felis. Praesent arcu libero, auctor eu nibh at, fermentum iaculis nisl. Integer ornare leo at eros bibendum cursus.</p>
            </div>
            <div class="project_card_console">
                <h4 class="project_card_console_machine">antonio@mypersonalsite:~$</h4>
                <h4>cd /portfolio/<a href="https://github.com/le4nnt0nn/PetInventoryProject">petInventoryProject</a></h4>
            </div>
        </div>
        <div class="project_card">
            <ul id="balls-group">
                <li id="ball1" class="ball-touch"></li>
                <li id="ball2" class="ball-touch"></li>
                <li id="ball3" class="ball-touch"></li>
            </ul>
            <div class="project_card_content">
                <img src="../images/rpsImage.png" alt="rpsAlt">
                <h3>Rock Paper Scissors <span>#React Native</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet risus porta, fermentum dui et, mollis erat. In id eros in turpis suscipit interdum. Mauris finibus mollis tellus, vel sodales neque placerat in. Maecenas accumsan eros eu tortor elementum ultrices. Ut euismod sagittis nibh quis pulvinar. Praesent ullamcorper pulvinar dignissim. Quisque ac mattis orci. Fusce placerat quam orci, a aliquam justo rhoncus vel. Vivamus ligula lacus, eleifend non sem at, blandit rutrum felis. Praesent arcu libero, auctor eu nibh at, fermentum iaculis nisl. Integer ornare leo at eros bibendum cursus.</p>
            </div>
            <div class="project_card_console">
                <h4 class="project_card_console_machine">antonio@mypersonalsite:~$</h4>
                <h4>cd /portfolio/<a href="https://github.com/le4nnt0nn/rps-react-native">rpsProject</a></h4>
            </div>
        </div>
        <div class="project_card">
            <ul id="balls-group">
                <li id="ball1" class="ball-touch"></li>
                <li id="ball2" class="ball-touch"></li>
                <li id="ball3" class="ball-touch"></li>
            </ul>
            <div class="project_card_content">
                <img src="../images/weatherAppImage.png" alt="weatherAppAlt">
                <h3>Weather App <span>#React.js</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet risus porta, fermentum dui et, mollis erat. In id eros in turpis suscipit interdum. Mauris finibus mollis tellus, vel sodales neque placerat in. Maecenas accumsan eros eu tortor elementum ultrices. Ut euismod sagittis nibh quis pulvinar. Praesent ullamcorper pulvinar dignissim. Quisque ac mattis orci. Fusce placerat quam orci, a aliquam justo rhoncus vel. Vivamus ligula lacus, eleifend non sem at, blandit rutrum felis. Praesent arcu libero, auctor eu nibh at, fermentum iaculis nisl. Integer ornare leo at eros bibendum cursus.</p>
            </div>
            <div class="project_card_console">
                <h4 class="project_card_console_machine">antonio@mypersonalsite:~$</h4>
                <h4>cd /portfolio/<a href="https://github.com/le4nnt0nn/Weather-App-React">weatherAppReact</a></h4>
            </div>
        </div>
    </div>

    <!--Footer-->
    <div class="footer_group">
        <h4>Antonio Cortés © 2021</h4>
    </div>

    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    </div>
</body>